<!DOCTYPE html>
<html>

<head>

  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title> Doctor-Profile</title>

  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Porto - Responsive HTML5 Template">
  <meta name="author" content="okler.net">

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

</head>

<body>
  <!-- ___________________ header-navbar___________________________ -->

  <div class="header-bar">
    <div class="row">
      <div class="col-md-3 pages-path">
        <div class="logo-for-dr"> Doctor
          <span>
            <a href="Home-doc.html">wall </a>
            <span class="var-page"> / Profile </span>
          </span>
        </div>
      </div>

      <div class="col-md-8 ">
        <ul class="list-inline social-links text-center right">
          <li class="search-header">
            <!-- <input type="text" placeholder="Search"> -->
            <!-- <i class="fa fa-search " aria-hidden="true"></i> -->
            <span class="glyphicon glyphicon-search " aria-hidden="true"> </span>

          </li>
          <li>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>

          </li>
          <span class="badgee">4</span>
          <li>
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
          </li>
          <span class="badgee">4</span>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span>
                <img class=" img-circle img-profile" src="user-male-icon.png" width="50" height="40"> </span>
              <span> Welcome, User</span>

              <span class="glyphicon glyphicon-menu-down downarrow-menu" aria-hidden="true"> </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Setting</a>
              </li>
              <li>
                <a href="#">Log out</a>
              </li>

            </ul>
          </li>
        </ul>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="background-event">
            <h2> Events </h2>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="event-img">
            <img src="detail.jpg" width="600" height="280">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">

          <div class="event-date text-center">
            <p> Nov</p>
            <h3 class="bold">10 </h3>
            <p> 2018</p>

          </div>

        </div>

        <div class="col-md-9">
          <div class=" event-title">
            <h1> Medical Conference in blabla</h1>
            <span>
              <i class="far fa-clock"></i> 5:00 pm </span>
            <span>
              <i class="fas fa-map-marker-alt "></i> Smart Village</span>
          </div>

          <div class="event-blog">

            <div>

              lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, est a finibus lobortis, eros justo rutrum est, in fringilla
              arcu ligula ornare mauris. Donec efficitur mi eget eros suscipit rhoncus. Nulla aliquet faucibus est, a ornare
              neque pellentesque quis. Nunc id volutpat magna. Sed tincidunt convallis cursus. Quisque maximus nulla eget
              turpis condimentum congue. Lorem ipsum. lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat,
              est a finibus lobortis, eros justo rutrum est, in fringilla arcu ligula ornare mauris. Donec efficitur mi eget
              eros suscipit rhoncus. Nulla aliquet faucibus est, a ornare neque pellentesque quis. Nunc id volutpat magna.
              Sed tincidunt convallis cursus. Quisque maximus nulla eget turpis condimentum congue. Lorem ipsum. lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Sed feugiat, est a finibus lobortis, eros justo rutrum est, in
              fringilla arcu ligula ornare mauris. Donec efficitur mi eget eros suscipit rhoncus. Nulla aliquet faucibus
              est, a ornare neque pellentesque quis. Nunc id volutpat magna. Sed tincidunt convallis cursus. Quisque maximus
              nulla eget turpis condimentum congue. Lorem ipsum.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>