

  <div class="row">
    <div class="col-md-6 profpic">
      <img src="../../../assets/img/detail.jpg" width="400" height="300">
     

    </div>
    <div class="col-md-6">
      <div class="row detailsaboutdr ">
        <div class="col-md-10 text-center topics">

          <h2> sarah hossam mounir </h2>
          <h3> doctor doctor </h3>

          <div class="row">
            <div class="total-rates">

              <i class="fa fa-star orange"></i>
              <i class="fa fa-star orange"></i>
              <i class="fa fa-star orange"></i>
              <i class="fa fa-star orange"></i>
              <i class="fa fa-star-half orange"></i>

            </div>
          </div>

        </div>
        <div class="col-md-1">
          <div class=" icon-edit">
            <i class="fa fa-edit fa-lg orange"></i>
          </div>
        </div>

        
      </div>

    </div>





  </div>
