.profpic{
    margin-top: 80px;
    margin-left: -30px;
    z-index: 1;
  }
  .profpic img{
    border: 10px solid #eee;
    box-shadow: 10px 10px 10px #444;
    margin-left: 38px;

  
  }
  .detailsaboutdr{
    margin-top: 140px;
    margin-left: 70px;
  }
  .detailsaboutdr .topics h2{
    color:#0b3d5a;
    font-weight: bold;
    line-height: 25px;
    font-size: 28px;
    text-transform: capitalize;
  
  }
  .orange{
    color: orange;
  }
  .total-rates{
   margin-left: -10px;
   margin-top: 30px;
   margin-bottom: 10px;

  }
  .icon-edit{
    margin-top: -30px;
    margin-left: 20px;
    cursor: pointer;
  }
  .rowabout{
    background: #eee;
    height: 400px;
    margin-top: 0px;
    width: 115%; 
     margin-left: -90px; 
     z-index: 0;
     position: relative;
     top: -52px;
  }
 
  .aboutdr h2{
    padding-top: 90px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 28px;
  }
  .aboutdr p{
  
    font-size: 18px;
    padding-left: 25px;
  }
  .aboutdr button{
    border-radius: 10px;
    margin-left: 30px;
  }
  .block-personaldetails{
    background-color: #fff;
    margin-top: 120px;
    box-shadow: 10px 10px 10px #444;
  }
  .block-personaldetails h4{
    padding-top: 30px;
  }
  .block-personaldetails .firstrowdetails p , .block-personaldetails .secondrowdetails p{
    font-weight: bold;
    color: #444;
    padding-left: 18px;
  }
  .block-personaldetails .firstrowdetails p span , .block-personaldetails .secondrowdetails p span {
  
    color:rgb(158, 156, 156);
    font-size: 12px;
  }
  .block-personaldetails .secondrowdetails{
  margin-left: -30px;
  }
  
.experience-block .rangeexp{

    background-color: #08c;
    margin-top: 130px;
    margin-left: -80px;
   
    
  }
  
  .experience-block .rangeexp p{
    color:#fff;
    padding-top: 30px;
    padding-left: 10px;
  }
  .experience-block .rangeexp p span , .experience-block .rangeexp div span {
    margin-left: 40px;
  }
  .experience-block .rangeexp div  {
    color:#fff;
    line-height: 5px;
    font-size: 12px;
  }
  .experience-block .rangeexp div.nameofcompany{
    padding-top: 30px;
    color:orange;
    font-size: 18px;
    font-weight: bold;
  }
  .experience-block .rangeexp div.placeofcompany{
    line-height: 5px;
    font-weight: bold;
    margin-top: -21px;
    padding-bottom: 5px;
    
  }
  .detailsofexp{
  background-color: #eee;
  margin-top: 130px;
  margin-left: -31px;
  width:116%;
  
  }
  .detailsofexp h4{
  padding-top: 18px;
  padding-left: 50px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 28px;
  }
  .detailsofexp p{
    /* padding:  0px 0px 50px 0px;  */
  padding-left: 50px;
  padding-bottom: 13px;
  
  }
  .experiencedoctor{
    margin-bottom: 50px;
    color:orange;
    font-weight: bold;
  }
  /*_____________________________ line ________________________*/
  .line{
    width: 10px;
    height: 1000px;
    background-color: gray;
  }
  .circleinline{
    border-radius: 50%;
    background-color:#08c;
    width: 18px;
    height: 20px;
    position: relative;
    top:128px;
    left: -3px;
  }
  .circle2line{
    border-radius: 50%;
    background-color:#08c;
    width: 18px;
    height: 20px;
    position: relative;
    top:598px;
    left: -140px;
  }
  
  /* __________________timeline from el template ____________________*/
  .triangle {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
  }
  .triangle-2 {
    width: 20px;
    position: relative;
    top: -137px;
    left: -103px;
    height: 30px;
    border-right: solid 30px #08c;
    border-bottom: solid 30px transparent;
    border-top: solid 30px transparent;
  }
  /* slider eduaction */
  section.section {
    background: #faf8f8;
    border-top: 3px solid #f1f1f1;
    margin: 93px 0;
    padding: 52px 0;
  }
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 70px;
  }
  .custom-box-details-2{
    padding: 10px 30px;
  }
  .text-color-quaternary{
    font-size: 28px;
    padding-bottom: 20px;
    padding-left: 30px;
  }
  .section{
    width: 120%;
  }
  .sendbtn{
    margin-bottom: 20px;
  }
  /* awards */
  .thumb-info .thumb-info-action-icon {
    background-color: #eff2f4;
  }
  