<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
	<!-- ___________________ header-navbar___________________________ -->

	<div class="header-bar">
		<div class="row">
			<div class="col-md-3 pages-path">
				<div class="logo-for-dr"> Doctor
					<span>
						<a href="Home-doc.html">wall </a>
						<span class="var-page"> / Profile </span>
					</span>
				</div>
			</div>

			<div class="col-md-8 ">
				<ul class="list-inline social-links text-center right">
					<li class="search-header">
						<!-- <input type="text" placeholder="Search"> -->
						<!-- <i class="fa fa-search " aria-hidden="true"></i> -->
						<span class="glyphicon glyphicon-search " aria-hidden="true"> </span>

					</li>
					<li>
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>

					</li>
					<span class="badgee">4</span>
					<li>
						<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
					</li>
					<span class="badgee">4</span>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<span>
								<img class=" img-circle img-profile" src="..\..\..\assets\images\user-male-icon.png" width="50" height="40"> </span>
							<span> Welcome, User</span>

							<span class="glyphicon glyphicon-menu-down downarrow-menu" aria-hidden="true"> </span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Setting</a>
							</li>
							<li>
								<a href="#">Log out</a>
							</li>

						</ul>
					</li>
				</ul>


			</div>
		</div>
	</div>


	<!--___________________________- side menu_________________-- -->
	<div class="row">
		<div class="col-md-12">
			<div class="row">
					<div class="col-md-4 right searchinpt2">
						<input type="text" placeholder="search.." class="form-control" id="inputDefault">
						</div>
			</div>
			<div class="big-block block1">
				<div class="row">
					<div class="col-md-3  col-md-offset-1 left-block">
						<div class="word-month"> Jan </div>
						<div class="word-day"> 30</div>


					</div>

					<div class="col-md-4 middle-block ">

						<div class="title-event"> Medical School Council </div>
						<div class="place-event"> Egypt-cairo</div>
						<div class="location-event">
							<i class="fa fa-map-marker" aria-hidden="true">
							</i> smart village
							<span>
								<i class="fa fa-clock-o" aria-hidden="true">
								</i> 8:00 am</span>
						</div>

					</div>


					<div class="col-md-4 right-block">

						<div class="img-event">
							<img src="..\..\..\assets\images\detail.jpg" width="230" height="150">
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="panel-event">
							<div class="details-event">
								<a href="oneevent.html"> view this event in details</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="big-block">
				<div class="row">
					<div class="col-md-3  col-md-offset-1 left-block">
						<div class="word-month"> Jan </div>
						<div class="word-day"> 30</div>


					</div>

					<div class="col-md-4 middle-block ">

						<div class="title-event"> Medical School Council </div>
						<div class="place-event"> Egypt-cairo</div>
						<div class="location-event">
							<i class="fa fa-map-marker" aria-hidden="true">
							</i> smart village
							<span>
								<i class="fa fa-clock-o" aria-hidden="true">
								</i> 8:00 am</span>
						</div>

					</div>


					<div class="col-md-4 right-block">

						<div class="img-event">
								<img src="..\..\..\assets\images\detail.jpg" width="230" height="150">
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="panel-event">
							<div class="details-event">
								<a href="oneevent.html"> view this event in details</a>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="big-block">
				<div class="row">
					<div class="col-md-3  col-md-offset-1 left-block">
						<div class="word-month"> Jan </div>
						<div class="word-day"> 30</div>


					</div>

					<div class="col-md-4 middle-block ">

						<div class="title-event"> Medical School Council </div>
						<div class="place-event"> Egypt-cairo</div>
						<div class="location-event">
							<i class="fa fa-map-marker" aria-hidden="true">
							</i> smart village
							<span>
								<i class="fa fa-clock-o" aria-hidden="true">
								</i> 8:00 am</span>
						</div>

					</div>


					<div class="col-md-4 right-block">

						<div class="img-event">
								<img src="..\..\..\assets\images\detail.jpg" width="230" height="150">
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="panel-event">
							<div class="details-event">
								<a href="oneevent.html"> view this event in details</a>
							</div>
						</div>
					</div>
				</div>

			</div>



		</div>
	</div>
	<div class="row mt-lg mb-xlg">
		<div class="col-md-12 center">
			<ul class="pagination">
				<li>
					<a href="#">
						<i class="fa fa-chevron-left"></i>
					</a>
				</li>
				<li class="active">
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-chevron-right"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

</body>
</html>

